
#tabledefault {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 600px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-style: Verdana;
	color: #333; }
	

#tabledefault td{
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
#tabledefault th {
	/*text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;*/
	font-family: Arial,"Times New Roman","Bitstream Charter",Times,serif;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 10px;
	color: #010e5d;
	background-color: #15317E;
	font-weight: 700;
}
#tabledefault td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}